@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
}

main {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
}

.question-container {
  margin: 10% 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  font-family: "MaruBuri-Regular";
  text-align: center;
  overflow: hidden;
}

.tip {
  width: 70%;
  height: 40%;
  overflow: scroll;
}
button {
  margin: 10px;
  padding: 5px 10px;
  font-family: "NanumSquare", sans-serif;
}
h5 {
  line-height: 25px;
}

iframe {
  margin-top: 10px;
  height: 100%;
  width: 100%;
}
.options {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "NanumSquare", sans-serif;
}

li {
  list-style: none;
  background-color: white;
  margin: 15px 0px 0px 0px;
  padding: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/*BACKGROUND*/
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-slide {
  width: 1300%;
  height: 100%;
  display: flex;
}

.background-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}

#intro {
  background-image: url(./img/basic.png);
}
#one {
  background-image: url(./img/back1.gif);
}
#two {
  background-image: url(./img/back2.gif);
}
#three {
  background-image: url(./img/back3.gif);
}
#four {
  background-image: url(./img/basic.png);
}
#five {
  background-image: url(./img/back5.gif);
}
#six {
  background-image: url(./img/back6.gif);
}
#seven {
  background-image: url(./img/back7.gif);
}
#eight {
  background-image: url(./img/back8.gif);
}
#nine {
  background-image: url(./img/back9.gif);
}
#ten {
  background-image: url(./img/back10.gif);
}
#eleven {
  background-image: url(./img/basic.png);
}

.share-download {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "NanumSquare", sans-serif;
  text-decoration: none;
}

.share-download > a {
  margin: 0 10px 0 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  line-height: 2rem;
}

span {
  line-height: 30px;
}

.other-result {
  height: 100%;
  margin-bottom: 10px;
}

.result {
  width: 100%;
  height: 100%;
}

a#create-kakao-link-btn {
  width: 40px;
  height: 40px;
  background-image: url(./img/kakaolink_btn_medium.png);
  background-size: cover;
  border-radius: 50%;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}

footer {
  margin-top: 10px;
  z-index: 1;
  font-family: "NanumSquare", sans-serif;
}

footer > a {
  text-decoration: none;
  color: rgb(38, 117, 221);
}

footer > a:visited {
  text-decoration: none;
  color: rgb(38, 117, 221);
}
