

@media screen and (max-width: 576px) {
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blueviolet;
    }
    .question {
        margin: 10%;
    }
    .options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        padding: 30px 10px;
    }
}