@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
}

main {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  line-height: 25px;
}
.container {
  height: 100%;
  width: 100%;
}

.question-container {
  margin: 10% 5% 0 5%;
  width: 90%;
  font-family: "MaruBuri-Regular";
  text-align: center;
  overflow: hidden;
}

.explain {
  overflow: scroll;
  width: 100%;
  height: 100%;
}
.options {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "NanumSquare", sans-serif;
}

ol {
  background-color: white;
  margin: 10px 0px 0px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

/*BACKGROUND*/
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-slide {
  width: 1200%;
  height: 100%;
  display: flex;
}

.background-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}

#intro {
  background-image: url(./img/basic.png);
}
#one {
  background-image: url(./img/thermo.gif);
}
#two {
  background-image: url(./img/box.gif);
}
#three {
  background-image: url(./img/basic.png);
}
#four {
  background-image: url(./img/basic.png);
}
#five {
  background-image: url(./img/basic.png);
}
#six {
  background-image: url(./img/road.gif);
}
#seven {
  background-image: url(./img/basic.png);
}
#eight {
  background-image: url(./img/washing.gif);
}
#nine {
  background-image: url(./img/mail.gif);
}
#ten {
  background-image: url(./img/screentime.gif);
}
#result {
  background-image: url(./img/basic.png);
}

.share-download {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100px;
  font-family: "NanumSquare", sans-serif;
}

.share-download > div > a,
#download {
  margin: 0 10px 0 0;
  text-decoration: none;
  color: rgb(233, 151, 151);
}

span {
  line-height: 30px;
}
.other-result {
  height: 100%;
  margin-bottom: 10px;
}

.result {
  width: 100%;
  height: 100%;
}

a#kakao-link-btn {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url(./img/kakaolink_btn_medium.png);
  background-size: cover;
  border-radius: 50%;
}
.hide {
  display: none;
}

footer {
  margin-top: 10px;
  z-index: 1;
  font-family: "NanumSquare", sans-serif;
}
